<div class="logged-out nav-account-wrapper w-clearfix w-hidden-small w-hidden-tiny">
  <a class="logged-out user-pic-small user-pic-wrapper w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" href="#"></a>
  <a class="nav-account-signup-spacing tertiary" data-ix="modal-login-show" href="#">Join FREE</a>
  <a class="nav-account-signup-spacing tertiary" data-ix="modal-login-show" href="#">Sign In</a>
</div>

{# <div class="login-modal" data-ix="modal-bg-initial-appearance"> #}
  <div class="modal-wrapper txt-centered">
    <div id="social-login-wrapper" class="login-steps">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Close</div>
        <img height="14" src="/{{directory}}/images/side nav close x.svg" width="14"></a>
      <img class="login logo" src="/{{directory}}/images/Imperial_Brand_Logo.svg" width="100">
      <img class="logo" src="/{{directory}}/images/DixieCrystals_Color.svg" width="100">
      <h3>Sign in or create an account</h3>
      <p>
        You need an account to like and rate recipes, comment, and share a recipe with the community.
      </p>
      <a class="btn-login fb w-button" href="/login/Facebook">Continue with Facebook</a>
      <a class="btn-login tw w-button" href="/login/Twitter">Continue with Twitter</a>
      <a class="btn-login gl w-button" href="/login/Google">Continue with Google</a>
      <div class="login-alt">
        <a href="#" class="sign-in-link">Sign in</a>
        or
        <a href="#" class="create-an-account-link">Create an Account</a>
        with email
      </div>
    </div>
    <div id="email-login-wrapper" class="login-steps w-hidden-main">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
        <img height="14" src="/{{directory}}/images/side nav close x.svg" width="14"></a>
        <img class="login logo" src="/{{directory}}/images/Imperial_Brand_Logo.svg" width="100">
      {{ login_form }}
      <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/{{directory}}/images/DixieCrystals_Color.svg" width="100">
      <div class="login-alt">
        <a href="#" class="forgot-password-link">Forgot password?</a>
        or use
        <a href="#" class="social-login-link">Social Login</a>
      </div>
    </div>
    <div id="create-account-wrapper" class="login-steps w-hidden-main">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
        <img height="14" src="/{{directory}}/images/side nav close x.svg" width="14">
      </a>
      <img class="login logo" src="/{{directory}}/images/Imperial_Brand_Logo.svg" width="100">
      <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/{{directory}}/images/DixieCrystals_Color.svg" width="100">
      {{ create_account }}
      <div class="login-alt">
        <a href="#" class="email-login-link">Already have an account?</a>
        or use
        <a href="#" class="social-login-link">Social Sign In</a>
      </div>
    </div>
    <div id="update-display-name-and-password-wrapper" class="login-steps w-hidden-main">
      <a class="modal side-nav-close-wrapper w-clearfix w-inline-block" data-ix="modal-login-hide" href="#">
        <div class="main-nav-link-bg-highlight side-nav-close">Cancel</div>
        <img height="14" src="/{{directory}}/images/side nav close x.svg" width="14">
      </a>
      <img class="login logo" src="/{{directory}}/images/Imperial_Brand_Logo.svg" width="100">
      {{ update_display_name_and_email }}
      <img class="logo w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny" src="/{{directory}}/images/DixieCrystals_Color.svg" width="100">
      <div class="login-alt">
        <a href="#" class="email-login-link">Already have an account?</a>
        or use
        <a href="#" class="social-login-link">Social Sign In</a>
      </div>
    </div>
  </div>
{# </div> #}